[submodule "protobuf"]
	path = protobuf
	url = git@github.com:ekg/protobuf.git
[submodule "sgExport"]
	path = sgExport
	url = git@github.com:glennhickey/sgExport.git
[submodule "rapidjson"]
	path = rapidjson
	url = git@github.com:miloyip/rapidjson.git
